7. XSD+XML - lab7/zad3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 	<xsd:element name="glowny" >
		<xsd:complexType mixed="true">
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="element1" type="xsd:string"  />
				<xsd:element name="element2" type="xsd:string"  />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
