5. XSD+XML - lab5/zad1.xsd

<?xml version='1.0' encoding='UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="pracownik">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="imie" type="xsd:string"/>
				<xsd:element name="nazwisko" type="xsd:string"/>
				<xsd:element name="wiek" type="xsd:positiveInteger"/>
				<xsd:element name="data_urodzenia" type="xsd:date"/>
				<xsd:element name="pensja" type="xsd:nonNegativeInteger"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
