6. XSD+XML - lab6/zad6/zad6a.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:prz1="http://prz_nazw1"
        targetNamespace="http://prz_nazw1">

 	<xsd:complexType name="typDaneMiejsca">
		<xsd:sequence>
			<xsd:element name="nazwa" type="xsd:string" />
			<xsd:element name="opis" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>